<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
      OWI Sing In
      </div>
    </h2>
    <form id="loginForm" action="/login" method="post" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password"/>
          </div>
        </div>
        <div class="ui fluid large teal submit button">Sing In</div>
      </div>
      <div class="ui error message" style="<%=(error.length > 0) ? 'display: block;' : ''%>">
        <%=(error|| '')%>
      </div>
    </form>
  </div>
</div>
<script src="/libs/login.js"></script>