<div class="ui basic segment">
    <div class="ui middle aligned stackable grid container">
        <div class="centered  row">
            <div class="eight wide column">
                <br>
                <form id="userAddForm" class="ui form">
                    <div class="field required">
                        <label>Username</label>
                        <input name="username" type="text" placeholder="Username">
                    </div>
                    <div class="field required">
                        <label>Password</label>
                        <input name="password" type="password" placeholder="Password">
                    </div>
                    <div class="field required">
                        <label>Confirm Password</label>
                        <input name="_password" type="password" placeholder="Confirm Password">
                    </div>
                    <div class="field">
                        <label>Role</label>
                        <select name="role" class="ui dropdown">
                            <option value="standard" selected>Standard</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>&nbsp;</label>
                        <button id="userAdd" class="fluid positive ui right labeled icon button">
                            <i class="right plus icon"></i>
                            Add
                        </button>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
        <div class="centered row">
            <div class="column">
                <div id="userLoading" class="ui active inverted dimmer">
                    <div class="ui text loader">Loading</div>
                </div>
                <div id="userList" class="ui middle aligned divided list"></div>
            </div>
        </div>
    </div>
</div>
<div id="uModalEdit" class="ui tiny modal">
    <div class="header">Edit User</div>
    <div class="content">
        <form id="userEditForm" class="ui form">
            <div class="field required">
                <label>Username</label>
                <input name="username" type="text" placeholder="Username">
            </div>
            <div class="field">
                <label>Role</label>
                <select name="role" class="ui dropdown">
                    <option value="standard" selected>Standard</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="ui error message edit"></div>
        </form>
    </div>
    <div class="actions">
        <div class="positive ui approve button">Save</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<script src="/libs/users.js"></script>